[screen]

# K2D38:
# size = (800,600)
# physical_screen_size = (39.0,29.0)
# physical_screen_distance = 60.0

# 7T
# size = (1920,1080)
# physical_screen_size = (69.84,39.29) 
# physical_screen_distance = 225

# office
# size = (2560,1440)
# physical_screen_size = (59.83,33.72)
# physical_screen_distance = 75

# laptop
size = (1920,1080)
physical_screen_size = (20.71 ,30.72)
physical_screen_distance = 50 

background_color = [-1,-1,-1]
foreground_color= [1,-1,-1]
gamma_scale = [1, 1, 1]
screen_nr = 2
max_lums = [24.52, 78.8, 10.19]
wait_blanking = True
full_screen = False
mouse_visible = False
refresh_rate = 60

[eyetracker]
calib_size = 0.8
x_offset = 0
sample_rate = 1000
n_calib_points = 9

[mri]
mri_trigger_key = t